.allCard-container {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

@media only screen and (max-width: 395px) {
  .allCard-container {
    grid-template-columns: 360px;
    grid-row-gap: 2em;
    padding-bottom: 75px;
  }
}
