.dashboard {
  display: flex;
  gap: 25px;
  max-width: 1140px;
  height: 100vh;
  margin: auto;
  align-items: center;
  background-color: none;
}

@media only screen and (max-width: 395px) {
  .dashboard {
    margin: auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    gap: 35px;
    padding-top: 25px;
  }
}
