.Footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
.Span {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-size: 11px;
  color: var(--primary-blue);
}

@media only screen and (max-width: 395px) {
  .Footer {
    height: 20px;
    padding-bottom: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
