.FooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.Footer {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  align-items: center;
  text-align: center;
  margin-top: 45px;
}
.Span {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-size: 11px;
  color: var(--primary-blue);
}

@media only screen and (max-width: 395px) {
  .FooterContainer {
    height: 30px;
    margin-top: -55px;
    padding-bottom: 55px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
