* {
  margin: 0;
  padding: 0;
  font-family: Rubik;
  justify-content: center;
  align-items: center;
  background: none;
}

:root {
  --neutral-very-dark: hsl(226, 43%, 10%);
  --neutral-dark: hsl(235, 46%, 20%);
  --neutral-desaturated: rgb(62, 67, 130);
  --neutral-pale-blue: hsl(236, 100%, 87%);
  --primary-blue: hsl(246, 80%, 60%);
  --primary-light-work: hsl(15, 100%, 70%);
  --primary-soft-play: hsl(195, 74%, 62%);
  --primary-light-study: hsl(348, 100%, 68%);
  --primary-lime-exercise: hsl(145, 58%, 55%);
  --primary-violet-social: hsl(264, 64%, 52%);
  --primary-soft-selfcare: hsl(43, 84%, 65%);
}

.home {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: var(--neutral-very-dark);
}

@media only screen and (max-width: 395px) {
  .home {
    height: 100%;
  }
}
